{% extends 'home/base.html' %}
{% load static %}
{% block title %}
    Register
{% endblock %}

{% block body_class %}bg-gradient-primary{% endblock %}

{% block content %}
      <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image" style="background-image: url('{% static "img/register.jpg" %}')"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Faculty Registration</h1>
              </div>
              <form class="user" method="post" id="register-form" action="/register">
                  {% csrf_token %}
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                      <label for="id_first_name"></label><input type="text" class="form-control form-control-user" id="id_first_name" name="first_name" placeholder="First Name">
                    <small class="text-danger d-block error-msg" id="error_first_name"></small>

                  </div>
                  <div class="col-sm-6">
                      <label for="id_last_name"></label><input type="text" class="form-control form-control-user" id="id_last_name" placeholder="Last Name" name="last_name">
                    <small class="text-danger d-block error-msg" id="error_last_name"></small>

                  </div>
                </div>
                <div class="form-group">
                    <label for="id_email"></label><input type="text" class="form-control form-control-user" id="id_email" name="email" placeholder="Email Address">
                    <small class="text-danger d-block error-msg" id="error_email"></small>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                      <label for="id_password1"></label><input type="password" class="form-control form-control-user" id="id_password1" name="password1" placeholder="Password">
                      <small class="text-danger d-block error-msg" id="error_password1"></small>

                  </div>
                  <div class="col-sm-6">
                      <label for="id_password2"></label><input type="password" class="form-control form-control-user" id="id_password2" name="password2" placeholder="Repeat Password">
                      <small class="text-danger d-block error-msg" id="error_password2"></small>
                  </div>
                </div>
                <div class="form-group row pt-4 ml-3">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                      <span>Select Subjects:</span>
                  </div>
                    <div class="col-sm-6">
                        <select id="id_subjects" class="selectpicker" multiple data-live-search="true" required  name="subjects">
                            {% for sub in subjects %}
                              <option value="{{ sub.code }}">{{ sub.name }}</option>
                            {% endfor %}
                        </select>
                      <small class="text-danger error-msg" style="display: none" id="error_subjects">Select at least One Subject</small>
                  </div>
                </div>


                  <div class="d-none" id="form-error">
                      <h2 class="d-block text-danger text-center error-message">Please Resolve Above Error First Submit.</h2>
                  </div>
                  <input type="submit" value="Register Account" class="btn btn-primary btn-user btn-block mt-4">
              </form>
              <hr>
{#              <div class="text-center">#}
{#                <a class="small" href="forgot-password.html">Forgot Password?</a>#}
{#              </div>#}
              <div class="text-center">
                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}

{% block add_xtra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
{% endblock %}
{% block add_xtra_js %}
    <script src="{% static 'home/js/register.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

{% endblock %}