#wrapper{
    margin-top: -1.5em;
}

.error-message{
    font-size: 15px;
    }

.error-div{
        border-color: red !important;
    display: block!important;
    }

.error-msg{
        padding-left: 1rem;
        padding-top: .1rem;
    }

.form-control:focus{
        border-color: #d1d3e2;
        box-shadow: none;

    }